<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="p-4">
        <header class="header">
            <a class="back-btn" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>
            <div>
                {{ gallery.get('name') }}
            </div>
        </header>
        <div class="container py-4">
            <form action="/upload/{{ gallery.id }}" method="post" enctype="multipart/form-data" >
                <h2>Upload Image</h2>
                <div>
                    <input type="file" name="image" accept="image/jpeg, image/png" required />
                </div>
                <button class="btn" type="submit" >
                    Upload file
                </button>
            </form>
        </div>
    </div>
    <div>
        {% if not duplicates %}
            <div class="container p-4">
                <div class="warning" >There are no duplicate images in this gallery</div>
            </div>
        {% endif %}
        {% if duplicates %}
            <div>
                <div class="title">
                    Duplicate images in this gallery
                </div>
                <div class="images">
                    {% for image in duplicates %}
                        <div class="image-card">
                            <img src="{{ image.get('image') }}" alt="">
                            <form class="delete-image" action="/delete-image/{{ image.id }}" method="get" >
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if not entireDuplicates %}
            <div class="container p-4">
                <div class="warning" >There are no duplicate images in all galleries</div>
            </div>
        {% endif %}
        {% if entireDuplicates %}
            <div>
                <div class="title">
                    Duplicate images in all galleries
                </div>
                <div class="images">
                    {% for image in entireDuplicates %}
                        <div class="image-card">
                            <img src="{{ image.get('image') }}" alt="">
                            <form class="delete-image" action="/delete-image/{{ image.id }}" method="get" >
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if not images %}
            <div class="container p-4">
                <div class="warning" >Your gallery is empty</div>
            </div>
        {% endif %}
        {% if images %}
            <div>
                <div class="title">
                    Images
                </div>
                <div class="images">
                    {% for image in images %}
                        <div class="image-card">
                            <img src="{{ image.get('image') }}" alt="">
                            <form class="delete-image" action="/delete-image/{{ image.id }}" method="get" >
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>